<div class="container">
  <div class="jumbotron">
    <h1>Black Boys Who Code</h1>
  </div>

  <h3>Click <a href="/project">here</a> to view all of our projects</h3>
  <h3>Click <a href="/project_form">here</a> to add a new project</h3>

</div>
