<h2>Edit <%=@project.title()%> project</h2>

<form action="/project/<%= @project.id()%>" method="post">
  <input name ="_method" type="hidden" value="patch">

  <label for="title">Rename your project:</label>
  <input id="title" name="title" placeholder="title" type="text">

  <button type="submit" button btn-primary>Update Project</button>
</form>

<form action="/project/<%=@project.id()%>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete</button>
</form>
