<h1>Project Directory</h1>

<% if @projects.any?() %>
<h2>Here are our current projects:</h2>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/project/edit"<%=project.id() %><%project.title() %></a><li>
  <% end %>
</ul>
<% else %>
<h2>Currently, there aren't any projects.</h2>
<% end %>

<div class="container">
  <button><a href="/">Home</a></button>
  <button><a href="/project/new">Add New Project</a></button>
</div>
