<h2><%= @project.title() %></h2>
<h3>Description: </h3>

<% if @project.volunteers().any?() %>

  <h3>Here are all of the volunteers for this project:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><a href= "volunteer/<%volunteer.id%>/edit"><%= volunteer.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
    <p>Currently, there are no volunteers for this project<p>
  <% end %>

<h2>Add a Volunteer to project</h2>
  <form action="/project/<%= @project.id()%>" method="post">
    <div class="form-group">
      <label class="form-label" for="volunteer">Volunteer Name:</label>
      <br>
      <input class="form-control" id="name" name="name" type="text" placeholder="name">
      <br>
      <button type="submit" class="button btn-primary">Add</button>
    </div>
  </form>

    <button><a href="/">Home</a></button>
    <button><a href="/project/<%=@project.id() %>/edit">Edit Project</a></button>
    <button><a href="/projects">View All Projects</a></button>
  </div>
