<h2>Add new project<h2>

  <form action="/project/new" method="post">
    <div class="form-group">
      <label class="form-label" for="title">Project Title:</label>
      <br>
      <input class="form-control" id="title" name="title" type="text" placeholder="title">
      <br>
      <button type="submit" class="button btn-primary">Create Project</button>
    </div>
  </form>
